:root{
    --bg-color1:#1e1f20;
    --bg-color2: #000000;
    --text-color: #f2f2f2;
    --text-color2: #f5bbb7;
    --text-hover-color: #ed726a;

    --button-hover-color: #a66662;
    --button-active-color: #905e5a;
}
